<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema inicial</title>
</head>
<body>
    <h1>Sistema de alumnos</h1>
    <h2>
        hola <%= nombre %>
    </h2>
    <p>sistema para administración de alumnos</p>
</body>
</html>